<table>
    <tr>
    	<td><div class="grid coordinate"></div></td>
    	
    	<td><div class="grid coordinate" ng-click="varCtrl.colSelected(0)">0</div></td>
        <td><div class="grid coordinate" ng-click="varCtrl.colSelected(1)">1</div></td>
        <td><div class="grid coordinate" ng-click="varCtrl.colSelected(2)">2</div></td>
        <td><div class="grid coordinate" ng-click="varCtrl.colSelected(3)">3</div></td>        
        <td><div class="grid coordinate" ng-click="varCtrl.colSelected(4)">4</div></td>
        
        <td><div class="grid coordinate" ng-click="varCtrl.colSelected(5)">5</div></td>
        <td><div class="grid coordinate" ng-click="varCtrl.colSelected(6)">6</div></td>
        <td><div class="grid coordinate" ng-click="varCtrl.colSelected(7)">7</div></td>
        <td><div class="grid coordinate" ng-click="varCtrl.colSelected(8)">8</div></td>       
        <td><div class="grid coordinate" ng-click="varCtrl.colSelected(9)">9</div></td>
    </tr>
    <tr>
        <td><div class="grid coordinate" ng-click="varCtrl.rowSelected(0)">0</div></td>
        
        <td><div class="grid" ng-click="varCtrl.toggleSelectedIndex(indexId00)" ng-class="{'selected' : selectedIndex.indexOf(indexId00) != -1}"></div></td>
        <td><div class="grid" ng-click="varCtrl.toggleSelectedIndex(indexId01)" ng-class="{'selected' : selectedIndex.indexOf(indexId01) != -1}"></div></td>
        <td><div class="grid" ng-click="varCtrl.toggleSelectedIndex(indexId02)" ng-class="{'selected' : selectedIndex.indexOf(indexId02) != -1}"></div></td>
        <td><div class="grid" ng-click="varCtrl.toggleSelectedIndex(indexId03)" ng-class="{'selected' : selectedIndex.indexOf(indexId03) != -1}"></div></td>        
        <td><div class="grid" ng-click="varCtrl.toggleSelectedIndex(indexId04)" ng-class="{'selected' : selectedIndex.indexOf(indexId04) != -1}"></div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId05) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId05)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId06) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId06)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId07) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId07)"></div></td>   
   		<td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId08) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId08)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId09) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId09)"></div></td>   
    </tr>
    <tr>
        <td><div class="grid coordinate" ng-click="varCtrl.rowSelected(1)">10</div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId10) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId10)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId11) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId11)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId12) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId12)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId13) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId13)"></div></td>        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId14) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId14)"></div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId15) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId15)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId16) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId16)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId17) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId17)"></div></td>   
   		<td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId18) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId18)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId19) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId19)"></div></td>   
    </tr>
    <tr>
        <td><div class="grid coordinate" ng-click="varCtrl.rowSelected(2)">20</div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId20) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId20)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId21) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId21)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId22) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId22)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId23) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId23)"></div></td>        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId24) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId24)"></div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId25) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId25)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId26) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId26)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId27) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId27)"></div></td>   
   		<td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId28) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId28)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId29) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId29)"></div></td>   
    </tr>
    <tr>
        <td><div class="grid coordinate" ng-click="varCtrl.rowSelected(3)">30</div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId30) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId30)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId31) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId31)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId32) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId32)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId33) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId33)"></div></td>        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId34) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId34)"></div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId35) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId35)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId36) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId36)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId37) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId37)"></div></td>   
   		<td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId38) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId38)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId39) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId39)"></div></td>   
    </tr>
    <tr>
        <td><div class="grid coordinate" ng-click="varCtrl.rowSelected(4)">40</div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId40) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId40)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId41) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId41)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId42) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId42)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId43) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId43)"></div></td>        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId44) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId44)"></div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId45) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId45)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId46) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId46)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId47) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId47)"></div></td>   
   		<td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId48) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId48)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId49) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId49)"></div></td>   
    </tr>
    <tr>
        <td><div class="grid coordinate" ng-click="varCtrl.rowSelected(5)">50</div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId50) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId50)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId51) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId51)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId52) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId52)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId53) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId53)"></div></td>        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId54) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId54)"></div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId55) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId55)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId56) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId56)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId57) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId57)"></div></td>   
   		<td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId58) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId58)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId59) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId59)"></div></td>   
    </tr>
    <tr>
        <td><div class="grid coordinate" ng-click="varCtrl.rowSelected(6)">60</div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId60) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId60)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId61) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId61)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId62) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId62)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId63) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId63)"></div></td>        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId64) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId64)"></div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId65) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId65)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId66) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId66)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId67) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId67)"></div></td>   
   		<td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId68) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId68)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId69) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId69)"></div></td>   
    </tr>
    <tr>
        <td><div class="grid coordinate" ng-click="varCtrl.rowSelected(7)">70</div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId70) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId70)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId71) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId71)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId72) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId72)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId73) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId73)"></div></td>        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId74) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId74)"></div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId75) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId75)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId76) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId76)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId77) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId77)"></div></td>   
   		<td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId78) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId78)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId79) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId79)"></div></td>   
    </tr>
    <tr>
        <td><div class="grid coordinate" ng-click="varCtrl.rowSelected(8)">80</div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId80) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId80)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId81) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId81)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId82) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId82)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId83) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId83)"></div></td>        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId84) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId84)"></div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId85) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId85)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId86) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId86)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId87) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId87)"></div></td>   
   		<td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId88) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId88)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId89) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId89)"></div></td>   
    </tr>
    <tr>
        <td><div class="grid coordinate" ng-click="varCtrl.rowSelected(9)">90</div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId90) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId90)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId91) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId91)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId92) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId92)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId93) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId93)"></div></td>        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId94) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId94)"></div></td>
        
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId95) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId95)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId96) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId96)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId97) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId97)"></div></td>   
   		<td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId98) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId98)"></div></td>
        <td><div class="grid" ng-class="{'selected' : selectedIndex.indexOf(indexId99) != -1}" ng-click="varCtrl.toggleSelectedIndex(indexId99)"></div></td>   
    </tr>
</table>
